.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

.input {
  border: 0;
  box-sizing: border-box;
  inline-size: 100%;
  text-align: center;
}

.input-invalid {
  border: 1px solid red;
}

.input-invalid:focus-visible {
  outline: 1px solid red;
}

.button {
  padding: 15px 20px;
  inline-size: 200px;
  background: transparent;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.button:disabled {
  background: rgb(184, 184, 184);
  color: white;
  opacity: 0.6;
  cursor: default;
}
