.table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

.table th,
.table td {
  text-align: center;
  border-bottom: 1px solid #cccccc;
  padding: 10px 30px;
}

.table th {
  background-color: #f0f8ff;
  color: #656565;
  font-weight: bold;
}

.caption {
  text-align: left;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
}
